#news{
    background-color: rgba(255, 255, 255, 0.3);
    width: calc(33.3% - 40px);
    float: left;
    margin: 0 10px;
    padding: 0 10px;
}
#news ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#news ul li time{
    float: left;
}
#news ul li p{
    margin-left: 100px;
    margin-bottom: 30px;
    letter-spacing: 0.2em;
}
#cat{
    width: 66.7%;
    float: left;
    margin: 0;
    padding: 0;
}
#cat ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
#cat ul li{
    background-color: rgba(255, 255, 255, 0.2);
    flex: 1 1 calc(50% - 30px);
    margin: 0 10px 10px 0;
    padding: 10px 10px;
}
#cat ul li h3{
    margin: 0 0 15px 0;
    padding: 0 ;
    letter-spacing: 0.2em;
}
#cat ul li img{
    width: 100%;
}
#cat ul li p{
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 1em;
    letter-spacing: 0.2em;
    line-height: 1.5em;
}

@media(max-width:480px){
    #news{
        float: none;
        width: calc(100% - 40px);
    }
    #cat{
        float: none;
        width: calc(100% - 10px);
        margin: 0 0 0 10px;
    }
    #cat ul{
        display: block;
    }
}
